@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: rgb(194, 235, 255);
    width: 100vw;
    overflow: scroll;
    font-family: "Montserrat", San-serif;
}
.animatedButton{
    animation-duration: 10000ms;
}
.ql-container{
    border: none !important;
}
.ql-toolbar{
    border: none !important;
}
.ql-editor{
    border: none !important;
}